@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Micro+5&display=swap');

@import url(./reset.css);
@import url(./custom-properties.css);
@import url(./style.css);
@import url(./canvas.css);
@import url(./layout.css);
@import url(./game-info.css);
@import url(./menu.css);
@import url(./buttons.css);

.invisible {
    display: none;
}
.blured {
    filter: blur(5px);
}

::selection {
    background-color: transparent;
}